{# Render a navigation button based on configuration #}
<li class="nav-item">
    {% set btnClass = 'nav-link' %}
    {% if button.type == 'primary' %}
        {% set btnClass = 'btn btn-primary btn-sm ms-3' %}
    {% elseif button.type == 'secondary' %}
        {% set btnClass = 'btn btn-secondary btn-sm ms-3' %}
    {% elseif button.type == 'outline' %}
        {% set btnClass = 'btn btn-outline-light btn-sm ms-3' %}
    {% endif %}

    <a class="{{ btnClass }}"
       href="{{ button.url }}"
       {% if button.attributes is defined %}
           {% for attr, value in button.attributes %}
               {{ attr }}="{{ value }}"
           {% endfor %}
       {% endif %}>
        {% if button.icon is defined and button.icon %}
            <i class="{{ button.icon }} me-2"></i>
        {% endif %}
        {{ button.label|trans }}
    </a>
</li>
